<section>
	<h2 id="why_oss">Why Open Source?</h2>
	<h3 style="font-size:70%">(It's way more than free software)</h3>
	<h4>Benefits</h4>
	<ul>
		<li>Training opportunity for GC employees</li>
		<li>Helps staff stay up-to-date on new technologies</li>
		<li>Attract talent</li>
	</ul>
</section>
