<section>
	<h2 id="03_why_open_formats">Why Open Formats?</h2>
	<h3>Benefits</h3>
	<ul>
		<li>Make it easy to mash our data with other sources</li>
		<li>Enable third party developer to create their own dataviz with our data</li>
		<li>Decrease the learning curve for using our data</li>
	</ul>
</section>
