<section>
	<h2 id="correlation">Dataviz Open Source Stack</h2>
	<img height="200" src="assets/docker-official.svg" alt="Docker" />
	<img height="200" src="assets/nodejs-horizontal.svg" alt="NodeJS" />
	<img height="200" src="assets/d3.svg" alt="D3.js" />
	<img height="200" src="assets/i18next.svg" alt="i18next" />
</section>
