<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Open Source and Open Format For DataViz at Statistics Canada</title>
		<link rel="stylesheet" href="{{assets}}/reveal.js/css/reveal.css">
		<link rel="stylesheet" href="css/styles.min.css">
	</head>
	<body>
		<h1>Open Source and Open Format For DataViz at Statistics Canada</h1>
		<div class="reveal">
			<div class="slides">
				{{>01_intro}}
				{{>02_why_oss}}
				{{>03_why_open_formats}}
				{{>04_oss_stack}}
				{{>05_open_formats}}
			</div>
		</div>
		<script src="{{assets}}/reveal.js/lib/js/head.min.js"></script>
		<script src="{{assets}}/reveal.js/js/reveal.js"></script>
		<script>
			Reveal.initialize();
		</script>
	</body>
</html>
